<div>
  <table class="table-dashboard">
    <tr class="header">
      <td colspan="2">Clasificacion</td>
    </tr>
    <tr class="sub-header">
      <td>Usuario</td>
      <td>Puntos</td>
    </tr>
    <% classification.each do |nickname, points| %>
      <tr class="row-game <%= cycle("odd", "even") %>">
        <td><%= nickname %></td>
        <td><%= points %></td>
    <% end %>
  </table>
</div>