<div>
  <table class="table-dashboard">
    <tr class="header">
      <td colspan="2">Clasificacion</td>
    </tr>
    <tr class="sub-header">
      <td>Usuario</td>
      <td>Puntos</td>
    </tr>
    <% users.each do |user| %>
      <tr class="row-game <%= cycle("odd", "even") %>">
        <td><%= user.name %></td>
        <td><%= user.total_points_in_pool(pool) %></td>
    <% end %>
  </table>
</div>