<% unless current_user.admin? %>
<div class="row">
  <div class="col-md-8">
    <% unless @matches.nil? %>
      <%= render partial: "matches_for_today", locals: { matches: @matches } %>
    <% end %>
    <% unless @bets.nil? %>
      <%= render partial: "bets_for_today", locals: { bets: @bets } %>
    <% end %>
    <div class="info-container">
      <div class="dashboard-info">
        <div class="description">PARTICIPANTES</div>
        <div class="info"><span><%= @users.count %></span></div>
      </div>
      <div class="dashboard-info">
        <div class="description">POTE EN BS.</div>
        <div class="info"><span>30000</span></div>
      </div>
      <div class="dashboard-info">
        <div class="description">MI POSICISION</div>
        <div class="info"><span>30000</span></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render partial: "clasification", locals: { users: @users, pool: @pool } %>
  </div>
</div>
<% end %>