<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="header" style="text-align: center">

      <h2 style="color: blue">
        Mundial Rusia 2018 <br>
        Confirmación de registro
      </h2>

      <h3 style="color: red"><%= @user.full_name %></h3>
    </div>

    <p>
      ¡FELICIDADES! acaba de registrar su nueva cuenta https://quiniela2018.herokuapp.com
      Su nombre de usuario y contraseña:
    </p>
    <p>
      Usuario: <%= @user.email %> <br>
      Contraseña: <%= @password %>
    </p>

    <h3 style="color: red">Por favor recuerde cambiar su contraseña al ingresar al sistema.</h3>

    <p>
      Gracias por participar y ¡MUCHA SUERTE! <br>
    </p>
  </body>
</html>