<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="header" style="text-align: center">
      <h1 style="color: red"><%= @registration.pool.name %></h1>

      <h2 style="color: blue">
        Mundial Rusia 2018 <br>
        Confirmación de registro
      </h2>

      <h3 style="color: red"><%= "#{@registration.name} #{@registration.last_name}" %></h3>
    </div>

    <p>
      Te damos la bienvenida a la MEJOR QUINIELA ONLINE, Gracias por registrarte y
      participar en este gran juego del Mundial Rusia 2018, A continuación te daremos las
      instrucciones a seguir para terminar el proceso de inscripción:
    </p>
    <p>
      1. Realiza el pago de US$ <%= @registration.pool.price %> en efectivo preferiblemente o en transferencia bancaria acordando con los organizadores.
    </p>

    <p>
      LA FECHA LIMITE PARA REALIZAR LA TOTALIDAD DEL PAGO ES EL 12 DE JUNIO DE 2018. 
      PAGOS RECIBIDOS DESPUES DE ESA FECHA NO SERAN ACEPTADOS PARA PARTICIPAR EN LA QUINIELA.
    </p>

    <p>
      2. Una vez realizado el pago, debes confírmar a través de un correo electrónico
      adjuntando la imagen del depósito o la pantalla de la transferencia realizada, al correo:
      <br>
      quinielaquintus@gmail.com
    </p>

    <p>
      3. Luego de que tu pago sea confirmado, recibirás un mail con la contraseña con la
      cual podrás tener acceso al portal web https://quiniela2018.herokuapp.com y realizar todas tus
      predicciones.
    </p>

    <p>
      Te deseamos mucha suerte y nuevamente gracias por participar.
      Cualquier duda contáctanos a los teléfonos:
      0414.125.30.00/0414.736.82.42
    </p>
  </body>
</html>
