<p class="panel-rules">
  Reglamento de la Quiniela
</p>
<div class="panel-group" id="accord-rules">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-minus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-1" class="collapse-link">
          Registro y pago
        </a>
      </h4>
    </div>
    <div id="rules-1" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 text-justify">
          <p>El registro en la quiniela debe realizarse de forma directa en la página  <strong>www.tuquinielamundial.com</strong>, primero se debe seleccionar en cuál de las quinielas se desea participar, luego suministrar una serie de información básica como nombre, apellido, nombre de usuario, número telefónico y correo electrónico. El equipo administrador se pondrá en contacto con el usuario vía mail, informando el nombre de usuario y la contraseña provisional para que cada participante pueda tener acceso a la aplicación web.</p><p>Únicamente se puede jugar un solo tipo de quiniela por usuario, si algún participante desea adquirir dos quinielas es necesario que se registre con dos usuarios diferentes. El número máximo de quinielas permitidas por persona es de 3.</p>
          </div>
          <div class="col-md-6">
          <p>Participante que no pague la totalidad del derecho de participación por quiniela antes de la fecha límite establecida, no participará en la quiniela. De igual manera, aquel jugador que no complete a través del portal web la totalidad de los pronósticos en cada una de las fases antes de las fechas límites, su quiniela no será tomada en cuenta para la premiación final. <strong>SIN EXCEPCIÓN</strong>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-2" class="collapse-link">
          Fechas límites
        </a>
      </h4>
    </div>
    <div id="rules-2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <ul>
            <li>Para el registro de sus datos en el portal <strong>www.tuquinielamundial.com</strong> (15 de Mayo al 8 de Junio de 2014).</li>
            <li>Para el pago total del valor de la quiniela: (15 de Mayo al 8 de Junio de 2014).</li>
            <li>Completar el 100% de los pronósticos de la <strong>PRIMERA FASE:</strong> (una vez realizado el pago total hasta el 10 de Junio de 2014).</li>
            <li>Completar el 100% de los pronósticos de la <strong>SEGUNDA FASE:</strong> (26 de Junio al 28 de Junio a las 12:00am de 2014).</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-3" class="collapse-link">
          Valor de la participación
        </a>
      </h4>
    </div>
    <div id="rules-3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 text-justify">
            <p>Cada quiniela tendrá su valor nominal, el cual será informado por el promotor de la misma. El pago deberá hacerse a través de una transferencia bancaria o deposito en cuenta ya sea por el total del valor de la quiniela o en abonos parciales antes de las fecha límite establecida.</p><p>La información de las cuentas a depositar estarán disponibles en la página web. <strong>Participante que no abone la totalidad del monto establecido por quiniela no tendrá derecho de participar, ni tendrá ningún reintegro de dinero.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-4" class="collapse-link">
          Esquema de juego
        </a>
      </h4>
    </div>
    <div id="rules-4" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 text-justify">
            <p>La quiniela está diseñada para jugarse en 2 fases:</p>
            <p><strong>LA PRIMERA FASE</strong> será la ronda de grupos, es decir los primeros 48 encuentros de la copa del mundo y <strong>LA SEGUNDA FASE</strong> arrancará con los pronósticos una vez conocidos los 16 clasificados oficiales para los 8vos de final de la Copa Mundial Brasil 2014.  Esta fase contempla 16 juegos, los enfrentamientos de 8vos de final, 4tos de final, Semis, Tercer y Cuarto Lugar y la Gran Final.</p>
            <p>Para <strong>LA PRIMERA FASE</strong> los participantes harán sus predicciones colocando los resultados en los primeros 48 partidos de la Fase de Grupos.</p>
            <p>Una vez terminada esta fase, comienza <strong>LA SEGUNDA FASE</strong> en la cual el sistema automáticamente generará los partidos de 8vos de final con los equipos que realmente clasifiquen para que los participantes puedan realizar sus nuevas predicciones, completando cada uno de los clasificados a las siguientes fases, hasta definir el campeón.</p>
            <p>Debido a que estas fases son enfrentamientos de eliminación directa, es de mucho valor acertar el ganador de cada encuentro para así poder seguir compitiendo en las rondas siguientes.</p>
            <p>A partir de los cuartos de final, para poder puntuar los usuarios deben tener acertados los dos equipos que se enfrenten, de lo contrario no tendrá posibilidad de participar en dicho encuentro.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
