<p class="panel-rules">
  Reglamento de la Quiniela
</p>
<div class="panel-group" id="accord-rules">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-minus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-1" class="collapse-link">
          REGISTRO Y PAGO
        </a>
      </h4>
    </div>

    <div id="rules-1" class="panel-collapse collapse in">
      <div class="panel-body text-justify">
        <p>El registro en la quiniela debe realizarse de forma directa en la p&aacute;gina <strong>https://quiniela2018.herokuapp.com/</strong>, primero se debe seleccionar en cu&aacute;l de las quinielas se desea participar, luego suministrar una serie de informaci&oacute;n b&aacute;sica como nombre, apellido, nombre de usuario, n&uacute;mero telef&oacute;nico y correo electr&oacute;nico. El equipo administrador se pondr&aacute; en contacto con el usuario v&iacute;a mail, informando el nombre de usuario y la contrase&ntilde;a provisional para que cada participante pueda tener acceso a la aplicaci&oacute;n web.</p>
        <p>&nbsp;</p>
        <p>Existen diferentes quinielas en el sistema, cada usuario podr&aacute; participar en cualquiera de ellas; si alg&uacute;n participante desea adquirir m&aacute;s de una (1) quiniela del mismo tipo, deber&aacute; iniciar sesi&oacute;n con un usuario diferente, teniendo como m&aacute;ximo permitido tres (3) quinielas del mismo tipo por persona, es decir que el jugador puede crear hasta tres (3) usuarios.</p>
        <p>&nbsp;</p>
        <p>Participante que no pague la totalidad del derecho de participaci&oacute;n por quiniela antes de la fecha l&iacute;mite establecida, no participar&aacute; en la quiniela. De igual manera, aquel jugador que no complete a trav&eacute;s del portal web la totalidad de los pron&oacute;sticos en cada una de las fases antes de las fechas l&iacute;mites, su quiniela no ser&aacute; tomada en cuenta para la premiaci&oacute;n final. SIN EXCEPCI&Oacute;N.</p> 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-2" class="collapse-link">
          FECHAS LÍMITES
        </a>
      </h4>
    </div>
    <div id="rules-2" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <ul>
          <li>Para el registro de sus datos en el portal <strong>https://quiniela2018.herokuapp.com/ </strong>(desde las 00:01 del <strong>01 de junio</strong> hasta las 23:59 del <strong>13 de junio de 2018</strong>).</li>
          <li>Para el pago total del valor de la quiniela: (01 de junio al 13 de junio de 2018).</li>
          <li>Completar el 100% de los pron&oacute;sticos de la <strong>PRIMERA FASE:</strong> (una vez realizado el pago total hasta el 12 de junio de 2018).</li>
          <li>Completar el 100% de los pron&oacute;sticos de la <strong>SEGUNDA FASE:</strong> (del 28 de junio hasta las 23:59 del 29 de junio del 2018).</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-3" class="collapse-link">
          VALOR DE LA PARTICIPACIÓN
        </a>
      </h4>
    </div>
    <div id="rules-3" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Cada quiniela tendr&aacute; su valor nominal, el cual ser&aacute; informado por el promotor de la misma. El pago deber&aacute; hacerse a trav&eacute;s de una transferencia bancaria o en efectivo ya sea por el total del valor de la quiniela o en abonos parciales antes de las fechas l&iacute;mite establecida.</p>
        <p>Participante que no abone la totalidad del monto establecido por quiniela no tendr&aacute; derecho de participar, ni tendr&aacute; ning&uacute;n reintegro de dinero.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-4" class="collapse-link">
          ESQUEMA DE JUEGO
        </a>
      </h4>
    </div>
    <div id="rules-4" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>La quiniela est&aacute; dise&ntilde;ada para jugarse en 2 fases:</p>
        <p>&nbsp;</p>
        <p><strong>LA FASE DE CLASIFICACI&Oacute;N</strong> ser&aacute; la ronda de grupos, es decir los primeros 48 encuentros de la copa del mundo y <strong>LA FASE DE ELIMINACI&Oacute;N</strong> arrancar&aacute; con los pron&oacute;sticos una vez conocidos los 16 clasificados oficiales para los 8vos de final de la Copa Mundial Rusia 2018. &nbsp;Esta fase contempla 16 juegos, los enfrentamientos de 8vos de final, 4tos de final, Semi Final, Tercer y Cuarto Lugar y la Gran Final.</p>
        <p>&nbsp;</p>
        <p>Para <strong>LA FASE DE CLASIFICACI&Oacute;N</strong> los participantes har&aacute;n sus predicciones colocando los resultados en los primeros 48 partidos de la Fase de Grupos.</p>
        <p>&nbsp;</p>
        <p>Una vez terminada esta fase, comienza <strong>LA FASE DE ELIMINACI&Oacute;N</strong> en la cual el sistema autom&aacute;ticamente generar&aacute; los partidos de 8vos de final con los equipos que realmente clasifiquen para que los participantes puedan realizar sus nuevas predicciones, completando cada uno de los clasificados a las siguientes fases, hasta definir el campe&oacute;n.</p>
        <p>&nbsp;</p>
        <p>Debido a que estas fases son enfrentamientos de eliminaci&oacute;n directa, es de mucho valor acertar el ganador de cada encuentro para as&iacute; poder seguir compitiendo en las rondas siguientes.</p>
        <p>&nbsp;</p>
        <p>A partir de los cuartos de final, para poder puntuar los usuarios deben tener acertados los dos equipos que se enfrenten, de lo contrario no tendr&aacute; posibilidad de participar en dicho encuentro.&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-5" class="collapse-link">
          ASIGNACIÓN DE PUNTOS
        </a>
      </h4>
    </div>
    <div id="rules-5" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Los puntos obtenidos en la quiniela serán contabilizados de la siguiente manera:</p>
        <p><u>PRIMERA FASE:</u></p>
        <ul>
        <li>Acertar el resultado (ganador/empate) sin marcador exacto → (1 pt.)</li>
        <li>Acertar el marcador exacto → (3 pt.)</li>
        </ul>

        <p><u>SEGUNDA FASE:</u></p>
        <ul>
        <li>Acertar el resultado (ganador/empate) sin marcador exacto → (3 pt.)</li>
        <li>Acertar el marcador exacto → (5 pt.)</li>
        </ul>
        <br>
        <p>Ejemplo <u>PRIMERA FASE:</u></p>
            <table class="table table-condensed table-bordered" style="width:50%">
              <thead>
                <tr>
                  <th>Partido</th>
                  <th>Predicción</th>
                  <th>Resultado</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>1 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 0 - 1 SAU</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>1 puntos</span></td>
                </tr>
              </tbody>
            </table>
            <br>
            <p>Ejemplo <u>SEGUNDA FASE:</u></p>
            <table class="table table-condensed table-bordered" style="width:50%">
              <thead>
                <tr>
                  <th>Partido</th>
                  <th>Predicción</th>
                  <th>Resultado</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 0 - 1 SAU</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
              </tbody>
            </table>
            <br>
        <p>A partir de los 8vos de final, se tomará como marcador final el resultado obtenido antes de la tanda de penales, es decir en los partidos que haya prorroga si se coloca como predicción un empate se está suponiendo que hubo penales, por lo tanto hay que escribir en la siguiente ronda el equipo clasificado. En el caso de colocar un ganador, es indiferente que el resultado se haya dado durante los 90 minutos o los 120 minutos de juego. Ejemplo:</p>

        <table class="table table-condensed table-bordered" style="width:80%">
              <thead>
                <tr>
                  <th>Partido</th>
                  <th>Predicción</th>
                  <th>Resultado 90 min.</th>
                  <th>Resultado 120 min.</th>
                  <th>Resultado penales</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>N/A</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>N/A</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 5 - 3 SAU</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 5 - 3 SAU</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 1 - 2 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>RUS 1 - 3 SAU</span></td>
                  <td><span>N/A</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-7" class="collapse-link">
          PREMIOS EXTRAS
        </a>
      </h4>
    </div>
    <div id="rules-7" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <ul>
        <li><strong>El Mejor de la primera ronda: </strong>el ganador en puntuaci&oacute;n de la primera fase recibir&aacute; una bonificaci&oacute;n de <strong>5 puntos</strong>, en caso de empate, todos los jugadores que se ubiquen en la primera posici&oacute;n obtendr&aacute;n los 5 puntos de bonificaci&oacute;n.</li>
        </ul>
        <p>&nbsp;</p>
        <ul>
        <li><strong>Goleador del torneo:</strong> como parte de las predicciones de la <strong>PRIMERA FASE</strong> se tendr&aacute; que escoger al jugador que terminar&aacute; como goleador del torneo, acertar esta casilla tendr&aacute; una bonificaci&oacute;n de <strong>5 puntos</strong> al finalizar el mundial. (en caso de empate en la tabla de goleadores oficial, se tomar&aacute; como ganador el jugador proclamado oficialmente por la FIFA).</li>
        </ul>
        <p>&nbsp;</p>
        <ul>
        <li><strong>Equipo campe&oacute;n del mundial:</strong> como parte de las predicciones de la <strong>PRIMERA FASE</strong> se tendr&aacute; que escoger el equipo que finalizar&aacute; como CAMPE&Oacute;N. El acierto en esta casilla tendr&aacute; una bonificaci&oacute;n de <strong>5 puntos</strong> a cada participante.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-8" class="collapse-link">
          GANADORES
        </a>
      </h4>
    </div>
    <div id="rules-8" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Se considerarán ganadores los <strong>tres (3) primeros lugares</strong> de la tabla de posiciones.</p>
        <p>En caso de presentarse un empate en los puntos totales obtenidos por dos o más participantes, estos ocuparan simultáneamente la misma posición y el premio correspondiente se dividirá en partes iguales entre dichos participantes.</p>
        <p>Los premios a repartir son los siguientes:</p>
        <table class="table table-condensed table-bordered" style="width: 30%">
          <thead>
            <tr>
              <th>Posición</th>
              <th>Premio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td><span>1er lugar</span></td>
              <td><span>60% del monto a repartir</span></td>
            </tr>
            <tr>
            <td><span>2do lugar</span></td>
              <td><span>30% del monto a repartir</span></td>
            </tr>
            <tr>
            <td><span>3er lugar</span></td>
              <td><span>10% del monto a repartir</span></td>
            </tr>
          </tbody>
        </table>
        <p>El monto a repartir será el <strong>90% del total recolectado</strong> por las inscripciones. El 10% restante será utilizado para cubrir gastos administrativos del sistema (hosting, administración, organización, publicidad, etc).</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-9" class="collapse-link">
          VALIDACIÓN DE PRONÓSTICOS
        </a>
      </h4>
    </div>
    <div id="rules-9" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Todos los participantes tendr&aacute;n acceso a trav&eacute;s del portal web a una tabla contentiva de todos los pron&oacute;sticos tanto de la primera fase como de la fase final, de cada uno de los participantes de forma tal que pueda llevar un control del avance de cada jugador.</p>
        <p>&nbsp;</p>
        <p>Cada uno de los participantes tendr&aacute; acceso a trav&eacute;s del inicio de sesi&oacute;n a una serie de informaci&oacute;n que se actualizar&aacute; diariamente para garantizar la transparencia y fiabilidad del sistema de quinielas.</p>
        <p>&nbsp;</p>
        <p>Luego de haber hecho sus predicciones, cada jugador podr&aacute; encontrar en el &ldquo;home&rdquo; de la sesi&oacute;n de usuario el ranking de jugadores, cuales partidos se jugar&aacute;n ese d&iacute;a, sus predicciones para ese d&iacute;a y 3 cuadros informativos donde podr&aacute; saber cu&aacute;ntos participantes hay, el valor a repartir y su posici&oacute;n en el ranking.</p>
        <p>&nbsp;</p>
        <p>Adem&aacute;s podr&aacute; revisar en un listado ordenado por n&uacute;mero de partido todas sus predicciones y descargar las predicciones de todos los participantes de la quiniela para verificar enfrentamientos directos por un puesto en el ranking.</p>
        <p><strong>&nbsp;</strong></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-10" class="collapse-link">
          RECLAMOS
        </a>
      </h4>
    </div>
    <div id="rules-10" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Cualquier reclamo, solicitud o consulta deberá ser realizado usando la sección de “contáctenos” que se encuentra en el portal <strong>https://quiniela2018.herokuapp.com/</strong> y se atenderá a la brevedad posible.</p>
      </div>
    </div>
  </div>
</div>
