<p class="panel-rules">
  Reglamento de la Quiniela
</p>
<div class="panel-group" id="accord-rules">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-minus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-1" class="collapse-link">
          REGISTRO Y PAGO
        </a>
      </h4>
    </div>

    <div id="rules-1" class="panel-collapse collapse in">
      <div class="panel-body text-justify">
        <p>El registro en la quiniela debe realizarse de forma directa en la página <strong>www.tuquinielaonline.com</strong>, primero se debe seleccionar en cuál de las quinielas se desea participar, luego suministrar una serie de información básica como nombre, apellido, nombre de usuario, número telefónico y correo electrónico. El equipo administrador se pondrá en contacto con el usuario vía mail, informando el nombre de usuario y la contraseña provisional para que cada participante pueda tener acceso a la aplicación web.</p>
        <p>Tenemos disponibles <strong>varias quinielas</strong> en el sistema, cada usuario podrá participar en cualquiera de ellas; si algún participante desea adquirir más de una (1) quiniela del mismo tipo, deberá iniciar sesión con un usuario diferente, teniendo como máximo permitido tres (3) quinielas del mismo tipo por persona, es decir que el jugador puede crear hasta tres (3) usuarios.</p>
        <p>Participante que no pague la totalidad del derecho de participación por quiniela antes de la fecha límite establecida, no participará en la quiniela. De igual manera, aquel jugador que no complete a través del portal web la totalidad de los pronósticos en cada una de las fases antes de las fechas límites, su quiniela no será tomada en cuenta para la premiación final. <strong>SIN EXCEPCIÓN</strong>.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-2" class="collapse-link">
          FECHAS LÍMITES
        </a>
      </h4>
    </div>
    <div id="rules-2" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <ul>
        <li>Para el registro de sus datos en el portal www.tuquinielaonline.com.ve (desde las 00:01 del 01 de Junio hasta las 23:59 del 12 de Junio de 2018).</li>
        <li>Para el pago total del valor de la quiniela: (01 de Junio al 12 de Junio de 2018).</li>
        <li>Completar el 100% de los pronósticos de la <strong>PRIMERA FASE:</strong> (una vez realizado el pago total hasta el 12 de Junio de 2018).</li>
        <li>Completar el 100% de los pronósticos de la <strong>SEGUNDA FASE:</strong> (del 28 de Junio hasta las 23:59 del 29 de Junio del 2018).</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-3" class="collapse-link">
          VALOR DE LA PARTICIPACIÓN
        </a>
      </h4>
    </div>
    <div id="rules-3" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Cada quiniela tendrá su valor nominal, el cual será informado por el promotor de la misma. El pago deberá hacerse a través de una transferencia bancaria o deposito en cuenta ya sea por el total del valor de la quiniela o en abonos parciales antes de las fecha límite establecida. </p>
        <p>La información de las cuentas a depositar estarán disponibles en la página web. <strong>Participante que no abone la totalidad del monto establecido por quiniela no tendrá derecho de participar, ni tendrá ningún reintegro de dinero.</strong></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-4" class="collapse-link">
          ESQUEMA DE JUEGO
        </a>
      </h4>
    </div>
    <div id="rules-4" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>La quiniela está diseñada para jugarse en 2 fases:</p>
        <p><strong>LA PRIMERA FASE</strong> será la ronda de grupos, es decir los primeros 48 encuentros de la copa del mundo y <strong>LA SEGUNDA FASE</strong> arrancará con los pronósticos una vez conocidos los 16 clasificados oficiales para los 8vos de final de la Copa Mundial Rusia 2018.  Esta fase contempla 16 juegos, los enfrentamientos de 8vos de final, 4tos de final, Semis, Tercer y Cuarto Lugar y la Gran Final.</p>
        <p>Para <strong>LA PRIMERA FASE</strong> los participantes harán sus predicciones colocando los resultados en los primeros 48 partidos de la Fase de Grupos.</p>
        <p>Una vez terminada esta fase, comienza <strong>LA SEGUNDA FASE</strong> en la cual el sistema automáticamente generará los partidos de 8vos de final con los equipos que realmente clasifiquen para que los participantes puedan realizar sus nuevas predicciones, completando cada uno de los clasificados a las siguientes fases, hasta definir el campeón.</p>
        <p>Debido a que estas fases son enfrentamientos de eliminación directa, es de mucho valor acertar el ganador de cada encuentro para así poder seguir compitiendo en las rondas siguientes.</p>
        <p>A partir de los cuartos de final, para poder puntuar los usuarios deben tener acertados los dos equipos que se enfrenten, de lo contrario no tendrá posibilidad de participar en dicho encuentro.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-5" class="collapse-link">
          ASIGNACIÓN DE PUNTOS
        </a>
      </h4>
    </div>
    <div id="rules-5" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Los puntos obtenidos en la quiniela serán contabilizados de la siguiente manera:</p>
        <p><u>PRIMERA FASE:</u></p>
        <ul>
        <li>Acertar el resultado (ganador/empate) sin marcador exacto → (1 pt.)</li>
        <li>Acertar el marcador exacto → (3 pt.)</li>
        </ul>

        <p><u>SEGUNDA FASE:</u></p>
        <ul>
        <li>Acertar el resultado (ganador/empate) sin marcador exacto → (3 pt.)</li>
        <li>Acertar el marcador exacto → (5 pt.)</li>
        </ul>
        <br>
        <p>Ejemplo <u>PRIMERA FASE:</u></p>
            <table class="table table-condensed table-bordered" style="width:50%">
              <thead>
                <tr>
                  <th>Partido</th>
                  <th>Predicción</th>
                  <th>Resultado</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>1 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 0 - 1 SAU</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>1 puntos</span></td>
                </tr>
              </tbody>
            </table>
            <br>
            <p>Ejemplo <u>SEGUNDA FASE:</u></p>
            <table class="table table-condensed table-bordered" style="width:50%">
              <thead>
                <tr>
                  <th>Partido</th>
                  <th>Predicción</th>
                  <th>Resultado</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>RUS 0 - 1 SAU</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
              </tbody>
            </table>
            <br>
        <p>A partir de los 8vos de final, se tomará como marcador final el resultado obtenido antes de la tanda de penales, es decir en los partidos que haya prorroga si se coloca como predicción un empate se está suponiendo que hubo penales, por lo tanto hay que escribir en la siguiente ronda el equipo clasificado. En el caso de colocar un ganador, es indiferente que el resultado se haya dado durante los 90 minutos o los 120 minutos de juego. Ejemplo:</p>

        <table class="table table-condensed table-bordered" style="width:80%">
              <thead>
                <tr>
                  <th>Partido</th>
                  <th>Predicción</th>
                  <th>Resultado 90 min.</th>
                  <th>Resultado 120 min.</th>
                  <th>Resultado penales</th>
                  <th>Puntos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>RUS 2 - 1 SAU</span></td>
                  <td><span>N/A</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 3 - 1 SAU</span></td>
                  <td><span>N/A</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 5 - 3 SAU</span></td>
                  <td><span>5 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 3 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 2 - 2 SAU</span></td>
                  <td><span>RUS 5 - 3 SAU</span></td>
                  <td><span>0 puntos</span></td>
                </tr>
                <tr>
                  <th>RUS vs. SAU</th>
                  <td><span>RUS 1 - 2 SAU</span></td>
                  <td><span>RUS 1 - 1 SAU</span></td>
                  <td><span>RUS 1 - 3 SAU</span></td>
                  <td><span>N/A</span></td>
                  <td><span>3 puntos</span></td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-7" class="collapse-link">
          PREMIOS EXTRAS
        </a>
      </h4>
    </div>
    <div id="rules-7" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <ul>
        <li><strong>El Mejor de la primera ronda:</strong> el ganador en puntuación de la primera fase recibirá una bonificación de <strong>5 puntos</strong>, en caso de empate, todos los jugadores que se ubiquen en la primera posición obtendrán los 5 puntos de bonificación.</li>
        <li><strong>Goleador del torneo:</strong> como parte de las predicciones de la <strong>PRIMERA FASE</strong> se tendrá que escoger al  jugador que terminará como goleador del torneo, acertar esta casilla tendrá una bonificación de <strong>5 puntos</strong> al finalizar el mundial. (en caso de empate en la tabla de goleadores oficial, se tomará como ganador el jugador proclamado oficialmente por la FIFA).</li>
        <li><strong>Equipo campeón del mundial:</strong> como parte de las predicciones de la <strong>PRIMERA FASE</strong> se tendrá que escoger el equipo que finalizará como CAMPEÓN. El acierto en esta casilla tendrá una bonificación de <strong>5 puntos</strong> a cada participante.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-8" class="collapse-link">
          GANADORES
        </a>
      </h4>
    </div>
    <div id="rules-8" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Se considerarán ganadores los <strong>tres (3) primeros lugares</strong> de la tabla de posiciones.</p>
        <p>En caso de presentarse un empate en los puntos totales obtenidos por dos o más participantes, estos ocuparan simultáneamente la misma posición y el premio correspondiente se dividirá en partes iguales entre dichos participantes.</p>
        <p>Los premios a repartir son los siguientes:</p>
        <table class="table table-condensed table-bordered" style="width: 30%">
          <thead>
            <tr>
              <th>Posición</th>
              <th>Premio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td><span>1er lugar</span></td>
              <td><span>60% del monto a repartir</span></td>
            </tr>
            <tr>
            <td><span>2do lugar</span></td>
              <td><span>30% del monto a repartir</span></td>
            </tr>
            <tr>
            <td><span>3er lugar</span></td>
              <td><span>10% del monto a repartir</span></td>
            </tr>
          </tbody>
        </table>
        <p>El monto a repartir será el <strong>90% del total recolectado</strong> por las inscripciones. El 10% restante será utilizado para cubrir gastos administrativos del sistema (hosting, administración, organización, publicidad, etc).</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-9" class="collapse-link">
          VALIDACIÓN DE PRONÓSTICOS
        </a>
      </h4>
    </div>
    <div id="rules-9" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Todos los participantes tendrán acceso a través del portal web a una tabla contentiva de todos los pronósticos tanto de la primera fase como de la fase final, de cada uno de los participantes de forma tal que pueda llevar un control del avance de cada participante.</p>
        <p>Cada uno de los participantes tendrá acceso a través del inicio de sesión a una serie de información que se actualizará diariamente para garantizar la transparencia y fiabilidad del sistema de quinielas.</p>
        <p>Luego de haber hecho sus predicciones, cada participante podrá encontrar en el “home” de la sesión de usuario el ranking de jugadores, cuales partidos se jugarán ese día, sus predicciones para ese día y 3 cuadros informativos donde podrá saber cuántos participantes hay, el tamaño del pote a repartir y su posición en el ranking.</p>
        <p>Además podrá revisar en un listado ordenado por número de partido todas sus predicciones y descargar las predicciones de todos los participantes de la quiniela para verificar enfrentamientos directos por un puesto en el ranking.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-rules" href="#rules-10" class="collapse-link">
          RECLAMOS
        </a>
      </h4>
    </div>
    <div id="rules-10" class="panel-collapse collapse">
      <div class="panel-body text-justify">
        <p>Cualquier reclamo, solicitud o consulta deberá ser realizado usando la sección de “contáctenos” que se encuentra en el portal <strong>www.tuquinielaonline.com</strong> y se atenderá a la brevedad posible.</p>
      </div>
    </div>
  </div>
</div>
