<p class="panel-rules">
  Ganadores
</p>
<div class="panel-group" id="accord-winner">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-minus"></span>
        <a data-toggle="collapse" data-parent="#accord-winner" href="#win-1" class="collapse-link">
          Ganador
        </a>
      </h4>
    </div>
    <div id="win-1" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 text-justify">
            <p>Se considerarán ganadores los tres (3) primeros lugares de la tabla de posiciones.</p>
            <p>En caso de presentarse un empate en los puntos totales obtenidos por dos o más participantes, estos ocuparan simultáneamente la misma posición y el premio correspondiente se dividirá en partes iguales entre dichos participantes.</p>
            <p>El monto a repartir será el <strong>85% del total recolectado</strong> por las inscripciones. El 15% restante será utilizado para cubrir gastos administrativos del juego (hosting, administración, organización, publicidad, etc).</p>
          </div>
          <div class="col-md-4">
            <p>Los premios a repartir son los siguientes:</p>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Posición</th>
                  <th>Premio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td><span>1er lugar</span></td>
                  <td><span>60% del monto a repartir</span></td>
                </tr>
                <tr>
                <td><span>2do lugar</span></td>
                  <td><span>30% del monto a repartir</span></td>
                </tr>
                <tr>
                <td><span>3er lugar</span></td>
                  <td><span>10% del monto a repartir</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-winner" href="#win-2" class="collapse-link">
          Validacion de los pronosticos
        </a>
      </h4>
    </div>
    <div id="win-2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p>Todos los participantes tendrán acceso a través del portal web a una tabla contentiva de todos los pronósticos tanto de la primera fase como de la fase final, de cada uno de los participantes de forma tal que pueda llevar un control del avance de cada participante.</p>
            <p>Cada uno de los participantes tendrá acceso a través del inicio de sesión a una serie de información que se actualizará diariamente para garantizar la transparencia y fiabilidad del sistema de quinielas.</p>
            <p>Luego de haber hecho sus predicciones, cada participante podrá encontrar en el “home” de la sesión de usuario el ranking de jugadores, cuales partidos se jugarán ese día, sus predicciones para ese día y 3 cuadros informativos donde podrá saber cuántos participantes hay, el tamaño del pote a repartir y su posición en el ranking.</p>
            <p>Además podrá revisar en un listado ordenado por número de partido todas sus predicciones y descargar las predicciones de todos los participantes de la quiniela para verificar enfrentamientos directos por un puesto en el ranking.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="glyphicon glyphicon-plus"></span>
        <a data-toggle="collapse" data-parent="#accord-winner" href="#win-3" class="collapse-link">
          Reclamos
        </a>
      </h4>
    </div>
    <div id="win-3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 text-justify">
            <p>Cualquier reclamo, solicitud o consulta deberá ser realizado usando la sección de “contáctenos” que se encuentra en el portal <strong>www.tuquinielamundial.com</strong> y se atenderá a la brevedad posible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
