<section>
  <div class="section-copa">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-5 col-md-offset-1">
          <div class="ad with-shadow">
            Ya comienza la Quiniela Gocha del Mundial de Futbol Brasil 2014
          </div>
          <div class="text with-shadow">
            Para saber como registrarte y participar haz click aqui.
            Participa en varias Quinielas y multiplica tus posiblidades de ganar.
          </div>
          <div class="text with-shadow" style="text-align: center;">
            <b>NO OLVIDES RESERVAR TU CUPO >></b>
          </div>
        </div>
        <div class="col-md-5">
          <div class="register-form">
            <div class="text">Reserva tu cupo ya!</div>
            <% if notice %>
              <div class="alert alert-success"><b><%= notice %></b></div>
            <% end %>
            <%= render "register_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section-rules">
  </div>
</section>
<section>
  <div class="section-copa">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-5 col-md-offset-1">
          <div class="register-form">
            <div class="text">Contactanos!</div>
            <%= render "contact_form" %>
          </div>
        </div>
        <div class="col-md-5">
          <div class="ad with-shadow">
            ¿Dudas?... <br> Comunicate ahora mismo con nosotros.
          </div>
          <div class="text with-shadow">
            Si tu duda es como registrarte y participar haz clic aqui.
            Participa en varias Quinielas y multiplica tus oportunidades
            ganar
          </div>
          <div class="text with-shadow" style="text-align: center;">
            <b>Federico Georgi - (0414)-7777777</b>
            <b>info@quitus.com.ve</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

