$rojo:      #DB5A30;
$naranja:   #E77B05;
$amarillo:  #EDCD00;
$verde:     #94BC55;
$celeste:   #66C1BE;
$azul:      #4D75AE;
$fucsia:    #A693C6;
$morado:    #9E6BA5;
$gris_a:    #ECECEC;
$gris_b:    #DADAD9;
$gris_c:    #C6C6C5;
$manzana:   #008D36;
$negro:     #3C3C3B;