@import "colors";

body {
  font-family: "Open Sans", sans-serif !important;
}

.panel-dark {
  background-color: $negro !important;
  color: #FFFFFF !important;
}

.highlight {
  background-color: $verde !important;
  color: #FFFFFF !important;
}

.center {
  text-align: center !important;
}
//COLORS BUTTONS
.rojo { border-color: $rojo; background-color: $rojo; }
.naranja { border-color: $naranja; background-color: $naranja; }
.amarillo { border-color: $amarillo; background-color: $amarillo; }
.verde { border-color: $verde; background-color: $verde; }
.celeste { border-color: $celeste; background-color: $celeste; }
.azul { border-color: $azul; background-color: $azul; }
.fucsia { border-color: $fucsia; background-color: $fucsia; }
.morado { border-color: $morado; background-color: $morado; }

.login-form {
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  margin-top: 40%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #FFFFFF;
  border: solid 1px #DADAD9;
  .text {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin: 0 0 40px 0;
    color: #C6C6C5;
  }
}

.user-pool-list {
  margin: 0;
  padding: 0;
  span.title {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
  }
  li {
    font-size: 12px;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}

.pool-header {
  color: #FFFFFF;
  background-color: $negro;
  padding: 5px 10px 5px 30px;
  font-weight: 900;
  font-size: 18px;
}