body {
  font-family: "Open Sans", sans-serif !important;
  // padding-top: 70px;
}

.chosen-container-single { .chosen-single { height: 32px } }
.panel-title > a:hover, a:focus { text-decoration: none !important}

.panel-rules {
  background-color: #3C3C3B;
  color: #FFFFFF;
  border-color: #3C3C3B;
  padding: 5px 20px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  font-weight: 900;
  font-size: 24px;
}

.with-shadow {
  text-shadow: 2px 2px black;
}

.ad {
  font-size: 50px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 55px;
}

.text-promo {
  color: #FFFFFF;
  line-height: 30px;
  font-size: 20px;
}

.promo-form {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #ECECEC;
  padding: 15px 25px;
  .title-form {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #94BC55;
    margin: 0 0 20px 0;
  }
}

#home, #rules, #contact {
  padding-top: 90px;
  margin-bottom: 150px;
}