.matches-widget {
  display: inline-block;
  margin-right: 15px;
  table {
    font-size: 16px;
    border: 1px solid #C6C6C5;
    tr.odd { background-color: #ECECEC }
    tr.even { background-color: #DADAD9 }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }
    span {
      background-color: #FFFFFF;
      padding: 2px 10px;
      font-weight: 900;
    }
    .header-widget { background-color: #ECECEC }
    .header-widget > td {
      padding: 5px;
      border: 1px solid #C6C6C5;
      text-align: center;
      .result { font-weight: 900 }

    }
    .row-widget > td {
      padding: 5px;
      border: none;
      text-align: center;
    }
    .row-widget .ptos { background-color: #008D36 }
    .input-bet {
      width: 20px;
      background-color: #FFFFFF;
      text-align: center;
      border: none;
    }
  }
}
.clasification-widget {
  display: inline-block;
  table {
    font-size: 16px;
    border: 1px solid #C6C6C5;
    tr.odd { background-color: #ECECEC }
    tr.even { background-color: #DADAD9 }
    tr.odd > td {
      border-right: solid 1px #DADAD9;
      &:last-child { border-right: solid 1px #C6C6C5 }
    }
    tr.even > td {
      border-right: solid 1px #ECECEC;
      &:last-child { border-right: solid 1px #C6C6C5 }
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }
    span {
      background-color: #FFFFFF;
      padding: 2px 10px;
      font-weight: 900;
    }
    .header-widget { background-color: #ECECEC }
    .header-widget > td {
      padding: 5px;
      border: 1px solid #C6C6C5;
      text-align: center;
    }
    .sub-header-widget { background-color: #ECECEC }
    .sub-header-widget > td:first-child {
      background-color: #DB5A30;
      color: #FFFFFF;
      padding: none;
    }
    .sub-header-widget > td {
      padding: 10px;
      border: 1px solid #C6C6C5;
      text-align: center;
      font-size: 18px;
      font-weight: 900;
    }
    .row-team > td:first-child {
      font-weight: normal;
    }
    .row-team > td {
      padding: 13px;
      text-align: center;
      font-weight: 900;
    }
  }
}
