.clasification-widget {
  table {
    font-size: 18px;
    border: 1px solid;
    font-weight: 900;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }
    span {
      padding: 3px 10px;
      background-color: white;
    }
    .header-widget > td {
      padding: 10px;
      border: 1px solid;
      text-align: center;
      background-color: blue;
    }
    .row-widget > td {
      padding: 10px;
      border: none;
      text-align: center;
      background-color: grey;
    }
    .row-widget .ptos { background-color: green }
  }
}